<app-nav-products></app-nav-products>
<div class=" mt-5">
    <div class="row justify-content-center m-3 gap-3">
        @for (item of product; track $index) {
            <div class=" col-1 col-md-3 g-5">
                <div class="">
                    <div class="card h-100 " style="width: 18rem;">
                        <div class="card-body">
                            <div [class.zapatos]="item.tipo=='zapatos'" [class.ropa]="item.tipo=='ropa'" [class.accesorios]="item.tipo=='accesorios'"  class="d-flex justify-content-start align-items-center ">
                                <img type="button" class="user-img" src="{{item.imag}}" alt="">
                                <h5 type="button" class="card-title">{{item.nombre}} {{item.apellido}}</h5>
                            </div>
                            <div>
                                <!-- aqui va la imagen del producto -->
                                <img class=" product-img" src="{{item.imagen}}" alt="">

                            </div>
                            <div class="prenda">
                                <h6 class="ms-3 card-subtitle pt-3 mb-2 text-body-secondary">{{item.prenda}}</h6>
                                <div class="product-text">
                                    <p class="ms-3   card-text">{{item.descripcion}}</p>
                                    <p class="ms-3  card-text">{{item.estado}}</p>
                                    <p class="ms-3 pb-3 card-text precio mt-5">${{item.precio}}</p>
                                </div>
                            </div>
                            <div class="d-flex   ">
                                <button class="" type="button" routerLink="/producto/{{item._id}}">Comprar</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        }

    </div>

</div>
