<app-aboutusnav></app-aboutusnav>

<div class="contacto">Contacto</div>
<p class="dudas d-flex justify-content-center">Déjanos tu mensaje sobre tus dudas o sugerencias</p>
<p class="dudas d-flex justify-content-center">¡Te responderemos lo antes posible!</p>

<div class="d-flex justify-content-center">
    <form class="registro" action="">
        <div class="d-flex">
            <div class="regis-logo">
            <img class="logoimg" src="logo-register.jpg" alt="">
            </div>
        <div class="regis-input">
            <div class="m-0">
                <label for="nombreApellido"><strong>Nombre y Apellido</strong></label>
                <input id="nombreApellido" name="nombreApellido" type="text">
            </div>
            <div class="m-0">
                <label for="correo"><strong>Correo</strong></label>
                <input id="correo" name="correo" type="email">
            </div>
            <div class="m-0">
                <label for="asunto"><strong>Asunto</strong></label>
                <input id="asunto" name="asunto" type="text">
            </div>
            <div class="m-0">
                <label for="mensaje"><strong>Mensaje</strong></label>
                <input class="mensaje" id="mensaje" name="mensaje"  type="text">
            </div>
            <p class="privacidad">Clothes, clothes, clothes es el responsable de tus datos que serán tratados para atender la consulta según su naturaleza y contactarte si es necesario, y enviarte comunicaciones comerciales sobre nuestros servicios, promociones y novedades. Puedes ejercer tus derechos, así como retirar el consentimiento en cualquier momento. Más información en nuestro Aviso de Privacidad</p>
                <button type="submit">Enviar</button>
        </div>
        </div>
    </form>
</div>
