<div class="container">
    <h1 class="titulo"><strong>TERMINOS Y CONDICIONES</strong></h1>
    <p>Última actualización: 1 de enero de 2025</p>
    <p>¡Bienvenida a Clothes,clothes, clothes! El sitio en el que podrás comprar y vender ropa, bolsos, joyería, zapatos usados en toda Colombia.</p>
    <p>En esta sección encontrarás los Términos y Condiciones que rigen la navegación y uso de nuestra web www.clothesclothesclothes.com.co (en adelante, el “Sitio web” o el “Sitio”). Recuerda que, de acuerdo con los usos y costumbres comerciales colombianas, se entiende que una persona acepta las condiciones de uso, normas y contenido de propiedad intelectual de una página web por el solo hecho de navegar en ella, por lo que, antes de comenzar, te invitamos a que dediques unos minutos para conocerlos.</p>
    <h2 class="titulo"><strong>1. TÍTULAR DE LOS SITIOS</strong></h2>
    <p>Los contenidos del sitio web denominado www.gotrendier.com.co y su aplicación móvil llamada GoTrendier, pertenecen a su Titular, como se identifica a continuación:</p>
    <p> a. Razón social:Clothes,clothes, clothes, Colombia S.A.S
        b. NIT: 901.071.219-8
        c. Nombre comercial: Clothes,clothes, clothes
        d. Dirección física de notificaciones: Calle. 13 Oficina 123 - Bogotá
        e. Dirección de correo electrónico: www.clothesclothesclothes.com.co
        f. Teléfono de contacto: 310 341 3423</p>
    <h3 class="titulo"><strong>2. DEFINICIONES</strong></h3>
    <p>Las expresiones que se establecen a continuación tendrán el significado establecido en el presente numeral, las cuales, incluyen el singular y el plural, así como el género femenino y masculino.
        Artículo: Hace referencia a los bienes que pueden ser comprados y/o vendidos en la plataforma los cuales corresponden a ropa, zapatos y accesorios que se caracterizan comúnmente por ser diseñados para ser utilizados por las mujeres, bebés, niños y niñas y se han clasificado como “prendas para mujer”, “prendas para bebé” y “prendas para niños”</p>
    <h4 class="titulo"><strong>3. ACEPTACIÓN DE LOS TÉRMINOS Y CONDICIONES</strong></h4>
    <p>Las Usuarias podrán aceptar cumplir los presentes Términos y Condiciones de manera expresa o de forma tácita.</p>
    <p>La aceptación será expresa cuando acepten las condiciones mediante la opción señalada para tal fin en el Sitio. Por su parte, la aceptación será tácita por el solo acceso a el Sitio.
        En ambos casos la Usuaria reconoce que ha leído, entendido y se encuentra de acuerdo con los Términos y Condiciones aquí expuestos, así como con el contenido de sus modificaciones, actualizaciones y anexos. Por lo anterior, se compromete irrevocablemente a conocer, cumplir y respetar las condiciones de uso del Sitio.
        El no leer los presentes Términos y Condiciones no la eximirá de su cumplimiento, ni tampoco lo hará la falta de respuesta a sus inquietudes.</p>
</div>
