<div class="hover d-flex justify-content-center button-container">
    <button class="boton primera bouncy" routerLink="/ropa" (mouseenter)="setHover('primera')">Ropa</button>
    <button class="boton segunda bouncy" routerLink="/zapatos" (mouseenter)="setHover('segunda')">Zapatos</button>
    <button class="boton tercera bouncy" routerLink="/accesorios" (mouseenter)="setHover('tercera')">Accesorios</button>
</div>





























    <!-- <div class="image-container d-flex justify-content-around primera1" (mouseleave)="noHover()" [class.aparecer]="mostrar">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="camisa-mujer.png" alt="Imagen 1">
            <p class="botones-text">Camisas</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="pantalon.png" alt="Imagen 2">
            <p class="botones-text">Pantalones</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="vestido.png" alt="Imagen 3">
            <p class="botones-text">Vestido</p>
        </div>
        <div class="d-flex  flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="deportivo.png" alt="Imagen 4">
            <p class="botones-text">Deportivo</p>
        </div>
        <div class="d-flex  flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="invierno.png" alt="Imagen 5">
            <p class="botones-text">Invierno</p>
        </div>
    </div>
    <div class="image-container d-flex justify-content-around segunda2" (mouseleave)="noHover1()" [class.aparecer1]="mostrar1">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="formales.png" alt="Imagen 1">
            <p class="botones-text">Formales</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="Casuales.png" alt="Imagen 2">
            <p class="botones-text">Casuales</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="tenis.png" alt="Imagen 3">
            <p class="botones-text">Deportivos</p>
        </div>
    </div>
    <div class="image-container d-flex justify-content-around tercera3" (mouseleave)="noHover2()" [class.aparecer]="mostrar2">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="reloj.png" alt="Imagen 5">
            <p class="botones-text">Relojes</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="collar.png" alt="Imagen 2">
            <p class="botones-text">Joyeria</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="gorra.png" alt="Imagen 3">
            <p class="botones-text">Gorras</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="maleta.png" alt="Imagen 4">
            <p class="botones-text">Maletas</p>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="mb-3 botones-img" src="bebes.png" alt="Imagen 5">
            <p class="botones-text">Bebes</p>
        </div>
    </div>


 -->
